/* Set base styles. */
body {
    font-size: 1.75em;
    color: #222;
}

/* Make sure hr is proper hr */
hr {
    clear: both;
}

/* Align text to top/super level. */
.super-align {
    vertical-align: super;
}

/* Stick navbar to top */
nav {
    position: sticky;
    top: 0;
    background: #fff;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: 1px 1px 7px -2px #111;
    z-index: 1;
    position: relative;
}

/* Size & position logo. */
.navbar-brand {
    height: auto;
    padding: 0;
}
.navbar-brand .logo {
    height: 100px;
    margin-left: -115px;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

@media (max-width: 1200px) {
    /* Remove centeredness. */
    .navbar-center {
        position: relative;
        left: auto;
        transform: none;
    }
}

/* Navbar 

/* Navbar text colour */
.navbar .nav a {
    color: #336;
    padding: 40px 20px;
}

.navbar .nav a:hover, .navbar .nav a:active, .navbar .nav a:focus {
    color: #517;
}

.navbar li.active a {
    font-weight: 700;
}

@media (max-width: 768px) {
    /* Remove all that padding. */
    .navbar .nav a {
        padding: 15px 10px;
    }
}

.navbar .navbar-toggle {
    line-height: 20px;
    padding: 40px 0;
}
        
.navbar .navbar-toggle .icon-bar {
    background-color: #517;
}
        
.profile {
    max-width: 200px;
    margin: 0 1em 1em;
    border-radius: 5px;
}

.map {
    max-width: calc(100% - 2em);
    padding: 0.5em;
    margin: 1em;
    box-shadow: 1px 1px 7px -2px #333;
    border-radius: 5px;
}

/* Make nice blockquote -  */
.quote-card {
    background: #fff;
    color: #222222;
    padding: 20px;
    margin: 1em 0.5em;
    padding-left: 50px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
    position: relative;
    overflow: hidden;
    min-height: 120px;
  }
  .quote-card p {
    font-size: 22px;
    line-height: 1.5;
    margin: 0;
    max-width: 80%;
  }
  .quote-card:before {
    font-family: Georgia, serif;
    content: "“";
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 5em;
    color: rgba(238, 238, 238, 0.8);
    font-weight: normal;
  }
  .quote-card:after {
    font-family: Georgia, serif;
    content: "”";
    position: absolute;
    bottom: -110px;
    line-height: 100px;
    right: -32px;
    font-size: 25em;
    color: rgba(238, 238, 238, 0.8);
    font-weight: normal;
  }
  @media (max-width: 640px) {
    .quote-card:after {
      font-size: 22em;
      right: -25px;
    }
  }
        
.motto {
    max-height: 3em;
    max-width: 100%;
}

main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
  }
  
  section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .no-parallax {
    background-color: #efefef;
  }
  
  section h1 {
    text-align: center;
    font-size: 4rem;
    font-family: sans-serif;
  }
  
  .parallax {
    height: 125px;
  }
  
  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -2px;
    transform: translateZ(-1px) scale(1.5);
    background-size: 150%;
    z-index: -1;
    height: 400px;
  }
  
  .bg::after {
    background-size: cover;
  }

  .bg.returntowork::after {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/returntowork.jpg');
}

.bg.ergonomics::after {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/ergonomics.jpg');
}

.banners {
    object-fit: cover;
    object-position: center;
    width: calc(100% - 2em);
    max-height: 7em;
    margin: 1em 1em 3em;
    border-radius: 10px;
    box-shadow: 5px 5px 15px -2px #222;
    filter: saturate(0.9) brightness(0.9);
    transition: 250ms;
}

.banners:hover {
    box-shadow: 5px 5px 20px -2px #222;
    filter: saturate(1) brightness(1);
    scale: 1.05;
    transition: 400ms;
}
        
.smaller-size {
    transform: scale(0.9);
}
        
/* Footer */
body > footer {
    padding: 25px;
    border-top: 1px solid #333;
}

body > footer .glyphicon {
    color: #333;
    font-size: 2em;
    border-radius: 10px;
    overflow: hidden;
}